
.flexing_getstarted {
    position: relative;
}

.email_icon_gift {
    max-height: 12rem;
    animation: 3s infinite cubic-bezier(0.455, 0.030, 0.515, 0.955) rotateEnvelope;

}

.rocket_icon {
    max-height: 8rem;
}
.main_get_started {
    position: relative;
}

.image_contain {
    animation: scale-up-hor-center 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite;
    position: absolute;
    top: 0;
    left: 10%;
    z-index: -60;
 
    background-position: center / cover;
}

.main_get_started.ready {
    padding: 1rem 0;
    padding-top: 1rem;
}



.rocket_icon {
    position: absolute;
    bottom: 5%;
    left: 45%;
    animation: 1.2s  linear rokateGoes;
}

.email_opened_div {
    position: relative;
}

.email_opened_div img {
    max-height: 20rem !important;
}

.gift_para {
    
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-50% , -50% );
font-family: 'Changa' , sans-serif;
color: #fff;
font-style: normal;
font-weight: 800;
font-size: 14px;
line-height: 24px;
text-align: center;

}



@keyframes rotateEnvelope {
    0%   {
        transform: rotate(0);
    }
    25%  {
        transform: rotate(25deg);
    }
    50%  {
        transform: rotate(0);
    }
    75%  {
        transform: rotate(-25deg);
    }
    100% {
        transform: rotate(0);
    }
  }


@keyframes rokateGoes {
    0%   {
        bottom: 5%;
        left: 55%;
      
    }
    25%  {
        bottom: 25%;
       left: 65%;
    }
    50%  {
        bottom: 45%;
        left: 75%;
       
    }
    75%  {
        bottom: 65%;
        left: 85%;
    
    }
    100% {
        bottom: 85%;
        left: 95%;
   
    }
  }
  @-webkit-keyframes scale-up-hor-center {
    0% {
      -webkit-transform: scaleX(0.4);
              transform: scaleX(0.4);
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
    }
  }
  @keyframes scale-up-hor-center {
    0% {
      -webkit-transform: scaleX(0.4);
              transform: scaleX(0.4);
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
    }
  }
  